@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1>🎬 Movie & Actor Manager</h1>
    <p class="lead">
        Welcome to the Movie & Actor Manager! This site allows you to browse and manage
        a collection of movies and actors. You can view movie details, read Reddit community
        sentiment, explore actor profiles, and see which actors starred in which movies.
    </p>
    <hr />
    <a class="btn btn-primary btn-lg" href="/Movies">Browse Movies</a>
    <a class="btn btn-secondary btn-lg" href="/Actors">Browse Actors</a>
</div>